<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="#" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Welcome to the Opitmal Secret Santa Generator</h2>
      <!-- <img src="../static/logo.png" alt="Lexus" class="logo" /> -->
      <!-- {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %} -->
      <form action="/submit" method="POST">
        <fieldset>
          <legend><h2>Your Group</h2></legend>
          <div class="form-group">
            <h3>Your Name</h3>
            <input type="text" name="customer1" placeholder="Enter Member 1" />
          </div>
          <div class="form-group">
            <h3>Group Members</h3>
            <input type="text" name="customer2" placeholder="Enter Member 2" />
          </div>
          <input type="submit" value="Submit" class="btn" />
        </fieldset>
      </form>
    </div>
  </body>
</html>
