<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="#" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/favicon.ico"
    />
  </head>
  <body>
    <div class="container">
      <h1>Thank You!</h1>
      <h2>Check your email to fill out your Secret Santa Wishlist!</h2>
    </div>
  </body>
</html>
