  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/secret_santa_website.css">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/favicon.ico"
    />
  </head>
  <body>
 
      
      <header class="w3-display-container w3-content w3-center" style="max-width:1500px"> 
        <img class="w3-image centermain" src="../static/background_1.png" alt="secretsanta" width="1500" height="600">
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey" style = "margin-top: -10%; font-size: 125%;";>
          <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">THANK YOU!</h1>
          <h5 class="w3-hide-large Welcome" style="white-space:nowrap">THANK YOU! 
          <h4 class ="w3-hide-large Welcome" style = "font-size: 1em">Check your email to fill out your Secret Santa Wishlist</h4> 
          <h3 class="w3-hide-medium w3-hide-small">Check your email to fill out your Secret Santa Wishlist</h3>
          </header>
        </div>
    </div>
  </body>
</html>
