<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Optimal Secret Santa</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="#" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/favicon.ico"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <h2>Welcome back! Please enter your Secret Santa Wishlist</h2>
    {% if message %}
    <p class="message">{{ message | safe }}</p>
    {% endif %}
    <form action="/submit" method="POST">
      <div id="group-entry" class="form-group">
        Please enter your email:<br />
        <input type="text" />
        <br />
        <input type="submit" value="Submit" class="btn" />
        <br />
        <br />
        <textarea
          name="wishlist"
          id="wishlist"
          placeholder="Please enter your wishlist here!"
          cols="50"
          rows="10"
        ></textarea>
      </div>
      <br />
      <input type="submit" value="Submit" class="btn" />
    </form>
  </body>
</html>
